body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

nav {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;

}

.zomentum {
    width: 202px;
    height: 28px;
    padding-top: 30px;
    padding-left: 81px;

}

.navli {
    margin-right: 129px;
    list-style: none;
    display: flex;
    gap: 32px;
    font-style: normal;
    padding-top: 18px;

}
                                
.navli a {
    text-decoration: none;
    font-weight: 500;
        font-size: 14px;
        color: #000C2D;
}

.zalia {
    width: 90px;
    height: 20px;
    font-size: 16px;
    border: 1px solid #2F70FE;
    color: #2F70FE;
    padding: 12px 23px 12px 23px;
}


.melyna {
    width: 1440px;
    height: 565px;
    background-color: #2F70FE;
    position: relative;
    }
    
    .melPirmas,
    .melAntras,
    .melTrecias {
        position: absolute;
    }
    
    .melPirmas img {
        height: 255px;
        width: 390px;
        margin-top: 320px;
        margin-left: 98px;
        filter: saturate(00%);
        opacity: 80%;
    }
    
    .melAntras img {
        width: 340px;
        height: 261px;
        margin-top: 227px;
        margin-left: 972px;
        filter: grayscale(100%) contrast(1.5);
        opacity: 60%;
    }
    
    .melTrecias {
        position: fixed;
        width: 789px;
        height: 282px;
        margin-top: 114px;
        margin-left: 410px;
        gap: 33px;
    
    }
    
    .trecTxt {
        object-fit: fill;
        width: 789px;
        height: 197;
    
    }
    
    .trech1 {
        width: 620px;
        height: 130px;
    }
    
    h1 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        line-height: 65px;
        color: #ffffff;
    }
    
    .trech4 {
        width: 605px;
        height: 60px;
    }
    
    .melTrecias button {
        width: 162px;
        height: 52px;
        padding: 16px 25px 16px 25px;
        gap: 10px;
        background: #000000;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 2%;
        text-align: center;
        margin-left: 250px;
}
.trech4 h4 {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.listSellGrow {
    width: 1440px;
    height: 465px;
    padding-top: 48px;
    background: #00FF8514;
}

h2 {
    text-align: center;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 2%;
    font-weight: 500;
    color: #000000;
}

.pasiulymai {
    display: flex;
    justify-content: space-around;
    width: 824px;
    height: 178px;
    margin-left: 308px;
    gap: 56px;
    margin-right: 308px;
    text-align: center;
}

.pasiulymai img {
    width: 100px;
    height: 100px;
}